{% extends 'base.html.twig' %}




{% block body %}

            <h1> Bienvenue sur le Site à Memo </h1>


            <p>Utilisé la barre de navigation afin de vous connecter et crée des memo :D</p>
{% endblock %}
